<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @map.state %>
</p>

<p>
  <strong>Participents:</strong>
  <%= @map.participents %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
